html, body, .grid-container { margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 16px;
  grid-template-areas:
    ". singular-title plural-title"
    "nominative-label nominative-singular nominative-plural"
    "genitive-label genitive-singular genitive-plural"
    "dative-label dative-singular dative-plural"
    "accusative-label accusative-singular accusative-plural"
    "ablative-label ablative-singular ablative-plural"
    ". left-button right-button";
}

.grid-container-vocative {
  grid-template-areas:
    ". singular-title plural-title"
    "nominative-label nominative-singular nominative-plural"
    "genitive-label genitive-singular genitive-plural"
    "dative-label dative-singular dative-plural"
    "accusative-label accusative-singular accusative-plural"
    "ablative-label ablative-singular ablative-plural"
    "vocative-label vocative-singular vocative-plural"
    ". left-button right-button";
}

.answer-text {
  font-size: 100%;
}

.placeholder-white::placeholder {
  color:white;
}

.singular-title { grid-area: singular-title; }

.plural-title { grid-area: plural-title; }

.nominative-label { grid-area: nominative-label; }

.genitive-label { grid-area: genitive-label; }

.dative-label { grid-area: dative-label; }

.ablative-label { grid-area: ablative-label; }

.vocative-label { grid-area: vocative-label; }

.right-button { grid-area: right-button; }

.left-button { grid-area: left-button; }

.accusative-label { grid-area: accusative-label; }

.nominative-singular { grid-area: nominative-singular; }

.genitive-singular { grid-area: genitive-singular; }

.dative-singular { grid-area: dative-singular; }

.accusative-singular { grid-area: accusative-singular; }

.ablative-singular { grid-area: ablative-singular; }

.vocative-singular { grid-area: vocative-singular; }

.nominative-plural { grid-area: nominative-plural; }

.genitive-plural { grid-area: genitive-plural; }

.dative-plural { grid-area: dative-plural; }

.accusative-plural { grid-area: accusative-plural; }

.ablative-plural { grid-area: ablative-plural; }

.vocative-plural { grid-area: vocative-plural; }

.grid-container > div {
  min-height: 84px;
}

// on xs screens
@media (max-width: 575.98px) { 
  
  .grid-container {
    display: block;
  }

  .grid-container > div {
    min-height: inherit;
  }
}

.neuter {
  color: rgb(60, 228, 125);
  font-weight: 700;
}

.feminine {
  color: hotpink;
  font-weight: 700;
}

.masculine {
  color: lightskyblue;
  font-weight: 700;
}

.play-button {
  cursor: pointer;
}

